<div class="jumbotron jumbotron-fluid col-xl-10 offset-xl-2">
    <div class="container text-center">
        <h1 class="display-4">Gestion de elementos</h1>
        <p class="lead">Aqui podrá consultar, editar y eliminar elementos.</p>
    </div>
</div>

<div class="row col-xl-10 offset-xl-2 col-lg-10 offset-lg-2 col-md-10 offset-md-2 pt-4">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a (click)="setElementsList(false)" class="nav-item nav-link active" name="nav-home-tab" id="nav-home-tab" aria-selected="true">Mostrar todos</a>
                <a  *ngFor="let benefit of BenefitsList;index as i"(click)="updateElementsList(benefit.id_type_benefit_of_use)"
                    class="nav-item nav-link"
                   >{{benefit.name_benefit}}</a>
                
        </div>
    </nav>
</div>
<div class="pt-4">
    <div class="row col-xl-10 offset-xl-2 col-lg-10 offset-lg-2 col-md-10 offset-md-2 col-sm-10">
        <table class="table table-bordered table-hover m-2 p-2">
            <thead class="text-capitalize">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">nombre</th>
                    <th scope="col">descripcion</th>
                    <th scope="col">cantidad disponible</th>
                    <th scope="col">tipo de bien</th>
                    <th scope="col">categoria</th>
                    <th scope="col">acciones</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let element of ElementsPaginated; index as i" >
                    
                            <td>{{i+1}}</td>
                            <td>{{element.name_element}}</td>
                            <td>{{element.description}}</td>
                            <td>{{element.quantity}}</td>
                            <td>{{element.name_benefit}}</td>
                            <td>{{element.name_category}}</td>
                            <td>
                                <div class="btn-group">
        
                                    <a class="btn btn-primary" [routerLink]="['/salidas/add', element.id_element]"><i class="fas fa-sign-out-alt"></i>Salida</a>
                                    <a class="btn btn-danger">Entrada</a>
                                </div>
                            </td>
                    

                </tr>

            </tbody>
        </table>

        <app-pagination (paginaEmitter)="goToPage($event)" [pages]="pages" [numberPage]="numberPage" [totalPages]="totalPages"></app-pagination>

        
        <div class="p-3 w-100">
            <a class="btn btn-outline-success btn-block" routerLink="/elementos/add">Agregar nuevo elemento</a>
        </div>
    </div>
</div>